#### WarmUp 
### Lista de Tuplas

In [1]:
nome_carros = ('Jeta Variant','Passat','Crossfox', 'DS5')
nome_carros

('Jeta Variant', 'Passat', 'Crossfox', 'DS5')

In [2]:
# Acessando o primeiro item
nome_carros[0]

'Jeta Variant'

In [3]:
# Acessando o segundo item
nome_carros[1]

'Passat'

In [4]:
#Acessando o último item de uma tupla/lista
nome_carros[-1]

'DS5'

<span style="font-size:small; color:pink;"> Também aprendemos a fazer fatiamentos ("slices") nas listas, lembrando que o ponto de início indicado é incluído no fatiamento (inclusive), mas o ponto de parada não (exclusive). Isso também ocorre com as tuplas. Em nosso exemplo, queremos que a tupla resultante mostre apenas os carros intermediários, "Passat" e "Crossfox". Para isso passaremos, depois da variável, [1:3] - ou seja, colchetes contendo a posição inicial do nosso fatiamento, o caractere dois pontos (:) e a posição final não-inclusiva (também chamada de exclusiva).

In [5]:
# Fatiamentos nas Listas (Slices) / o primeiro aparece e o segundo não (incluso e excluso)
nome_carros[1:3]

('Passat', 'Crossfox')

##### Tuplas dentro de Tuplas

In [6]:
# Neste caso temos índice de 0 a 4, pois tudo o que está dentro do segundo parenteses é considerado 1 item
nome_carros = ('Jeta Variant','Passat','Crossfox', 'DS5',('Fusca','Gol','C4'))
nome_carros

('Jeta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [7]:
nome_carros[4]

('Fusca', 'Gol', 'C4')

In [8]:
nome_carros[-1]

('Fusca', 'Gol', 'C4')

In [9]:
# Acessando o carro Gol / [-1] --> traz a tupla encapsulada dentro do primeiro parenteses e [1]--> é o segundo elemento da tupla encapsulada
# 1° acesso o ultimo item da tupla geral e depois vejo o índice dessa tupla (2° tupla) que eu quero trazer o resultado
nome_carros[-1][1]

'Gol'

Exercícios

In [10]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ), # Tupla 1
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

01)

In [11]:
carros[0][3]

False

2.

In [12]:
carros[-1] # Temos 2 tuplas - 1 em cada parenteses / traz o conteúdo do segundo parenteses

('Passat',
 'Motor Diesel',
 1991,
 True,
 ('Central multimídia', 'Teto panorâmico', 'Freios ABS'))

In [13]:
carros[-1][-1] # Tras ('Central multimídia', 'Teto panorâmico', 'Freios ABS')

('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [14]:
carros[-1][-1][-1] # Traz Freios ABS

'Freios ABS'

3.

In [15]:
carros[0] # Traz o conteúdo do primeiro parenteses

('Jetta Variant',
 'Motor 4.0 Turbo',
 2003,
 False,
 ('Rodas de liga', 'Travas elétricas', 'Piloto automático'))

In [16]:
carros[0][-1] # Traz ('Rodas de liga', 'Travas elétricas', 'Piloto automático')

('Rodas de liga', 'Travas elétricas', 'Piloto automático')

In [17]:
carros[0][-1][:2] # Vai trazer os 2 primeiros itens da Tupla acima e não vai trazer o terceiro iten = 2

('Rodas de liga', 'Travas elétricas')

Resposta:
False, Freios ABS, ('Rodas de liga', 'Travas elétricas')

##### Iterando em Tuplas

In [18]:
nome_carros = ('Jeta Variant','Passat','Crossfox', 'DS5')
nome_carros

('Jeta Variant', 'Passat', 'Crossfox', 'DS5')

In [19]:
# for item in: traz em formato de lista
for item in nome_carros:
    print(item)

Jeta Variant
Passat
Crossfox
DS5

Desempacotamento de Tuplas

In [20]:
nome_carros = ('Jeta Variant','Passat','Crossfox', 'DS5')
nome_carros

('Jeta Variant', 'Passat', 'Crossfox', 'DS5')

In [22]:
# Basicamente, é possível atribuirmos cada valor dentro de uma tupla a uma variável específica
# Atribui cada item ao carro específico e na ordem
carro_1, carro_2, carro_3, carro_4 = nome_carros

In [24]:
carro_1

'Jeta Variant'

In [25]:
carro_2

'Passat'

In [26]:
carro_3

'Crossfox'

In [27]:
carro_4

'DS5'

<span style="font-size:small; color:pink;">Imagine que uma função nos retorna quatro valores, mas queremos utilizar somente dois deles. Nesse caso, queremos somente o segundo e o último valor da tupla nomes_carros (a primeira posição e a terceira). Para isso, podemos usar o recurso do underscore (ou "underline"), da mesma forma que vimos nas listas.

In [28]:
#Escolhendo o segundo e último carro da tupla nome_carros
_,A,_,B = nome_carros

In [29]:
A

'Passat'

In [30]:
B

'DS5'

<span style="font-size:small; color:pink;">Em outra situação, queremos somente um valor da nossa tupla, mas nenhum outro. Imagine se tivéssemos uma tupla com 60 itens e só gostaríamos de salvar o segundo. Com a sintaxe que acabamos de aprender, seria bastante trabalhoso recuperarmos esse valor.

<span style="font-size:small; color:yellow;">Para simplificar, podemos ignorar o primeiro valor com underscore, receber o segundo com uma variável (por exemplo C) e finalizar com asterisco seguido de underscore (*_). Dessa forma ignoraremos todos os valores posteriores.

In [31]:
# Queremos somente 1 valor da nossa Tupla, mas nenhum outro
_,C,*_ = nome_carros

In [32]:
C

'Passat'

<span style="font-size:small; color:pink;">Existe também uma nova função nativa do Python, chamada zip(), que cria um iterador com tuplas (de maneira semelhante à função range()), e vamos entender como ela funciona. Para nossos testes, inicializaremos duas listas: carros, contendo os modelos de alguns veículos; e valores, com seus preços.

In [35]:
carros = ['Jetta Variant', 'Passat','Crossfox','DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [34]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

<span style="font-size:small; color:pink;">Chamaremos então a função zip() passando como parâmetros nossas duas listas.

In [36]:
# Consolidando litas (no caso a lista de carros e valores)
zip(carros, valores)

In [38]:
# Com o auxílio da função list(), podemos transformar esse iterador em uma lista de modo a visualizá-lo.
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

<span style="font-size:small; color:pink;">Repare que, interessantemente, nosso iterador pegou o primeiro elemento de cada lista e criou uma tupla; depois o segundo elemento de cada lista, criando uma segunda tupla; e assim sucessivamente até o final da lista. Isso nos traz a possibilidade de, por exemplo, iterar o nome e o valor de um veículo ao mesmo tempo.
<span style="font-size:small; color:pink;">Faremos isso usando a instrução for que irá iterar pelo resultado de zip(carros, valores). Por enquanto apenas imprimiremos as tuplas resultantes.
<span style="font-size:small; color:orange;"> ** Iterar = percorrer um conjunto de elementos um por um

In [39]:
for item in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

<span style="font-size:small; color:pink;">Acabamos de aprender a fazer o desempacotamento de tuplas, e podemos fazer isso também com o for. Aqui, ao invés de item, passaremos dois nomes separados por vírgula: carro e valor. Também passaremos a imprimir ambas as variáveis (lembrando que o print() aceita mais de um argumento).

In [40]:
for carro, valor in zip(carros,valores):
    print(carro,valor)

# Com isso, conseguiremos separar cada carro e valor individualmente em todas as tuplas desse iterador.

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

<span style="font-size:small; color:pink;">Isso nos traz diversas outras possibilidades de análise. Por exemplo, podemos incluir uma condicional if que imprime somente os carros cujo valor é maior do que 100000.

In [41]:
for carro, valor in zip(carros, valores):
    if(valor>100000):
        print(carro)

Passat
DS5

### Exercícios: Laços 'for' com Tuplas
##### O procedimento de iteração em tuplas é o mesmo que aprendemos com listas, no treinamento anterior. Utilizamos a tupla como iterador de um laço for simples, ou alinhado, e conseguimos acesso a cada item individualmente.

##### Para responder esta questão, considere a mesma tupla da atividade anterior:

In [42]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

Assinale a alternativa com o código que produz este resultado:

Rodas de liga  
Travas elétricas  
Piloto automático  
Central multimídia  
Teto panorâmico  
Freios ABS

In [43]:
for tupla in carros:
    print(tupla)

('Jetta Variant', 'Motor 4.0 Turbo', 2003, False, ('Rodas de liga', 'Travas elétricas', 'Piloto automático'))
('Passat', 'Motor Diesel', 1991, True, ('Central multimídia', 'Teto panorâmico', 'Freios ABS'))

In [44]:
for tupla in carros:
    print(tupla[-1])

('Rodas de liga', 'Travas elétricas', 'Piloto automático')
('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [45]:
for tupla in carros:
    for item in tupla:
        print(item)

Jetta Variant
Motor 4.0 Turbo
2003
False
('Rodas de liga', 'Travas elétricas', 'Piloto automático')
Passat
Motor Diesel
1991
True
('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [46]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

#### Exercício: FUNÇÃO ZIP()

<span style="font-size:small; color:pink;">Duas ferramentas bastante utilizadas quando iteramos com tuplas são o desempacotamento de tuplas e a built-in function zip().  
Com o desempacotamento de tuplas, é possível fazer declarações conjuntas de variáveis e utilizar cada variável individualmente. Por exemplo:

In [47]:
nome, valor = ('Passat', 100000.0)
#A função zip() permite gerar um iterador de tuplas, como no exemplo abaixo:

In [48]:
# In [1]:
nomes = ['Passat','Crossfox']
valores = [100000.0, 75000.0]
list(zip(nomes, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

In [49]:
# Considerando as duas listas abaixo:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

##### E utilizando o ferramental apresentado acima, marque a alternativa com o código que possibilita a impressão dos nomes dos veículos com quilometragem abaixo de 20.000 km.

In [50]:
for nome, km in zip (nomes, kms):
    print(nome, km)

Passat 15000
Crossfox 12000
DS5 32000
C4 8000
Jetta 50000

In [51]:
# RESPOSTA CORRETA
for nome, km in zip (nomes, kms):
    if(km<20000):
        print(nome)

Passat
Crossfox
C4

Nessa aula aprendemos:  

O que são Tuplas  
Formas de criação de uma Tupla  
Técnicas de seleção de itens e fatiamento com Tuplas do Python  
Formas de iterar por uma tupla  
A técnica conhecida como Desempacotamento de Tuplas  
A utilizar a built-in function = zip()