# Criando Estrutura de Dados

Começaremos pela Series, criando uma lista simples que contém uma sequência numérica de 1 à 5. Pode de praxe, importaremos o pandas import pandas as pd em seguida adicionaremos os números.

In [1]:
import pandas as pd

## Series

In [2]:
data = [1,2,3,4,5]

In [3]:
# Chamaremos essa series de s, chamaremos o Pandas via pd e passaremos data.
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

Teremos algumas outras opções para passar para Series, o index é uma delas. Escreveremos exatamente este termo: index, em seguida faremos uma list comparation e escreveremos Linha. Adicionaremos, ainda, + str(i) for i in range(5).

In [5]:
index = ['Linha' + str(i) for i in range(5)]

In [6]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

Esses conteúdos foram armazenados na variável index, e passaremos essa variável como índice da nossa Series desta maneira:

In [7]:
s = pd.Series(data = data, index = index)

In [8]:
#  Agora temos rótulos para as linhas

s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

Uma outra maneira é criar um dicionário e passá-lo para pd.Series. Realizaremos uma concatenação e estipularemos o valor i + 1

In [9]:
data = {'Linha' + str(i): i + 1 for i in range(5)}
# Será criado um dicionário em que as chaves são Linha0, Linha1 e assim por diante.

In [10]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [11]:
# Para efetivamente criamos a Series escreveremos:
s=pd.Series(data)

# Não precisamos passar o index, já que será usada a chave do dicionário que criamos.

In [12]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
# Podemos, inclusive, fazer operações em nossa Series:
s1 = s + 2

In [14]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [15]:
s2 = s + s1

In [16]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# Concatenando DataFrames

In [17]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [18]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
# Passando o resultado acima para um DataFrame
df1 = pd.DataFrame(data = data)

In [20]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
# Criando rótulos para as linhas
index = ['Linha' + str(i) for i in range(3)]

In [22]:
index

['Linha0', 'Linha1', 'Linha2']

In [23]:
# o resultado acima tem que ser substituído pelo índice original (0, 1, 2)
df1 = pd.DataFrame(data = data, index = index)
 # dados = data e índice = index (estes já possuem variáveis, vide mais acima)

In [24]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [25]:
# Vamos fazer a mesma coisa para as colunas, ou seja, criar os rótulos
Columns = ['Coluna' + str(i) for i in range(3)]
Columns

['Coluna0', 'Coluna1', 'Coluna2']

In [26]:
df1 = pd.DataFrame(data = data, index = index, columns=Columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9